<footer class="footer">
  <div class="copyright">
    <p>&copy; 2023 | All Rights Reserved |</p>
    <p>
      Developed with
      <svg class="copyright__svg" id="copyright_modal">
        <use href="./images/icons.svg#heart"></use>
      </svg>
      by <span class="copyright__span">GoIT Students</span>
    </p>
  </div>
  <img
    src="/src/images/cursor-loader.gif"
    width="60"
    id="loader"
    class="loader"
  />
</footer>

<div class="modal modal__hidden" data-modal>
  <div>
    <button type="button" data-modal-close>
      <svg>
        <use
          xlink:href="./images/icons.svg#x"
          width="11px"
          height="11px"
          x="3"
          y="7.5"
        ></use>
      </svg>
    </button>
  </div>
</div>
