<div class="header--index-background">
  <header class="header header__container container">
    <div class="header__nav">
      <a href="./index.html" class="logo">
        <svg class="logo__svg">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <p class="logo__name">Filmoteka</p>
      </a>
      <div class="navigation">
        <a class="navigation__item navigation__item--mark" href="./index.html">
          Home
        </a>
        <a class="navigation__item" href="./library.html">My library</a>
      </div>
    </div>
    <form class="header__search">
      <input
        class="search__input"
        type="text"
        autocomplete="off"
        placeholder="Enter movie name"
      />
      <button class="search__button" type="submit">
        <svg class="search__svg">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="header__error header__error--hidden">
      Search result not successful. Enter the correct movie name.
    </p>
  </header>
</div>
