<div class="header--library-background">
  <header class="header header__container container">
    <div class="header__nav">
      <a href="./index.html" class="logo">
        <svg class="logo__svg">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <p class="logo__name">Filmoteka</p>
      </a>
      <div class="navigation">
        <a class="navigation__item" href="./index.html">Home</a>
        <a class="navigation__item navigation__item--mark" href="./library.html"
          >My library</a
        >
      </div>
    </div>
    <div class="header__buttons">
      <button class="watched-button" type="button">Watched</button>
      <button class="queue-button" type="button">Queue</button>
    </div>
  </header>
</div>
