<div class="overlay overlay--is-hidden" data-modal>
  <div class="modal__window">
    <button class="modal__button-close" data-modal-close>
      <svg
        class="modal__icon-close"
        width="14"
        height="14"
        aria-label="Modal close"
      >
        <use href="./images/icons.svg#x"></use>
      </svg>
    </button>
    <div class="modal__movie movie">
      <div class="modal-movie__container">
        <!-- <div class="modal-movie__image">
          <img src="" alt="Image of movie" class="modal-movie__picture" />
        </div> -->
        <div class="modal-movie-text">
          <h3 class="modal-movie__title"></h3>
          <div class="modal-movie__information">
            <table class="modal-movie__table modal-table">
              <tbody>
                <tr class="modal-table__row">
                  <td class="modal-table__data modal-table__title">
                    Vote/Votes
                  </td>
                  <td class="modal-table__data modal-table__information">
                    <span
                      class="modal-table__number modal-table__orange"
                    ></span>
                    <span class="modal-table__number modal-table__grey"></span>
                  </td>
                </tr>
                <tr class="modal-table__row">
                  <td class="modal-table__data modal-table__title">
                    Popularity
                  </td>
                  <td class="modal-table__data modal-table__information">
                    7895.146
                  </td>
                </tr>
                <tr class="modal-table__row">
                  <td class="modal-table__data modal-table__title">
                    Original Title
                  </td>
                  <td
                    class="modal-table__data modal-table__information modal-table__data--uppercase"
                  >
                    Black Panther: Wakanda Forever
                  </td>
                </tr>
                <tr class="modal-table__row">
                  <td class="modal-table__data modal-table__title">Genre</td>
                  <td class="modal-table__data modal-table__information">
                    Action, Adventure, Science Fiction
                  </td>
                </tr>
              </tbody>
            </table>
            <h4 class="modal-movie__about">About</h4>
            <p class="modal-movie__description">TEXT</p>
            <div class="modal-movie__buttons movie-button">
              <button
                type="button"
                class="modal-movie__btn modal-movie__watched"
                data-idfilm=""
                data-btn="watched"
              >
                Add to watched
              </button>
              <button
                type="button"
                class="modal-movie__btn modal-movie__queue"
                data-idfilm=""
                data-btn="queue"
              >
                Add to queue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
